﻿<style type="text/css">
    .column {
        float: left;
        margin-right: 40px;
    }
    .column > .name {
        margin-bottom: 10px;
        background-color: antiquewhite;
    }  
    .priority > .name {
        margin-bottom: 10px;
        background-color: aqua;
    }
</style>

<div ng-view></div>