﻿<div class="columns">
    <div class="column" ng-repeat="column in columns">
        <div class="name">
            {{column.Name}}
        </div>
        <div class="priorities">
            <div class="priority" ng-repeat="priority in getVisiblePriorities(column)">
                <div class="name">
                    {{priority.Name}}
                </div>
                <div class="tickets">
                    <div class="ticket" ng-repeat="ticket in getTicketsForPriority(column, priority)">
                        <div class="name">
                            {{ticket.Title}}
                        </div>
                        <div class="name">
                            column: <input class="edit" ng-model="ticket.ColumnId"><br />
                            priority: <input class="edit" ng-model="ticket.PriorityId"><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>